* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  /* min-width: 400px; */
  min-height: 450px !important;
  overflow: hidden;
}

/* =========================================== */
/* arranging the items vertically on the main text area */
.main{
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 5px;
}

.tab-item{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 100%;
}

.toggle {
  /* flex-grow: 1; */
}

/* ======================================================== */
/* grid container for bible and songs */
.grid-container {
  display: grid;
  grid-template-rows: 1fr 5fr; /* First row takes 1 part, second row takes 5 parts */
  grid-template-columns: 1fr; /* Single column */
  gap: 10px; /* Gap between grid items */
}

.grid-item {
  /* padding: 20px;
  text-align: center; */
}

/* ==================================================== */
.tab-area{
  padding:5px;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.tab-area:first-of-type {
    border-bottom-left-radius: 0px;
}
.tab-area:last-of-type {
  border-bottom-right-radius: 0px;
}

.no-gap{
  gap: 0px !important;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  gap: 5px;
  box-sizing: border-box;
}

#setBg{
/*  overflow-y: scroll;*/
}
.settings-area{
  padding-right: 5px;
}

.bible-search{
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.mid-bg{
  flex-grow: 1;
}

.no-border{
  border: none;
}
.song, .bible-container{
  width: 100%;
  font-size: 1em;
  overflow-y: scroll;
  height: 100%;
}

.next-prev{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-end;
}

textarea{
  width: 100%;
  height: 90%;
  padding: 10px;
  font-size: 20px;
  border: none;
  resize: none;
  border-radius: 8px;
}

.row{
  display: flex;
  flex-direction: row;
  gap: 5px;
  background: inherit;
}

.column{
  display: flex;
  flex-direction: column;
  background-color: inherit;
  gap: 5px;
}

.inherit-bg{
  background:inherit;
}

#colorPicker{
  margin: 10px;
}

.svg-icons{
  height: 15;
  width: 15;
}

.icons{
  width: 10px;
  height: 10px;
}

select{
  width: 100%;
  font-size: 0.8em;
  border-radius: 5px;
}

.settings-icons{
  font-size: 0.8em;
  border-radius: 5px;
  padding: 5px;
  align-items: center;
  width: 100%;
}

.settings-tab-button{
  margin-bottom: 0px;
}

.settings-tab-area{
  padding: 10px 5px;
  border-radius: 10px;
  width: 100%;
/*  background: yellow !important; */
}

#listItems{
  flex-grow: 1;
}

button, .btn-file-upload{
  padding: 5px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  margin: 5px 0px;
  cursor: pointer;
}

.btn{
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  margin: 5px 5px;
  text-decoration: none;
}

@media (max-width: 600px) {
  .container {
  }

  textarea,
  button{
    width: 100%;
    max-width: 100%;
  }
}

.tab-button {
  margin: 0px;
  padding: 5px;
  font-size: 0.8em;
  font-size: 15px;
  border: none;
  cursor: pointer;
  width: 100x%;
  cursor: pointer;
  border-radius: 10x;
}


.selected-tab{
  border-radius: 0 0 10px 10px;
}

.tab-button .active {
  /* Highest, active tab is on top */
  z-index: 3;
}


.tab-button:not(:last-child) {
  margin-right: 10px;
}

.tab-button.selected-tab:before,
.tab-button.selected-tab:after {
  content: "";
  position: absolute;
  top: 0;
  height: 10px;
  width: 10px;
  background-color: #222;
}

.tab-button:first-of-type.selected-tab:before {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 5px -5px 0 0 rgba(0, 0, 0, 0);
}

.tab-button:last-of-type.selected-tab:after {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: -5px -5px 0 0 rgba(0, 0, 0, 0);
}

.settings-tab-button{
  background-color: inherit;
}

.settings-tab-button.selected-setting-tab{
  position: relative;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.settings-tab-button.selected-setting-tab:before{
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;  
  height: 10px;
  width: 10px;  border-bottom-right-radius: 50%;
}

.settings-tab-button.selected-setting-tab:after{
  content: "";
  position: absolute;
  bottom: 0;
  right: -10px;  
  height: 10px;
  width: 10px;
  border-bottom-left-radius: 50%;
  
}

.settings-tab-button:first-of-type.selected-setting-tab:before{
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;  
  height: 10px;
  width: 10px;  border-bottom-right-radius: 50%;
  box-shadow: 5px 0px 0 0 rgba(0, 0, 0, 0);
}

.settings-tab-button:last-of-type.selected-setting-tab:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;  
  height: 10px;
  width: 10px;  border-bottom-right-radius: 50%;
  box-shadow: -5px 0px 0 0 rgba(0, 0, 0, 0);
}

.settings-tab-area:first-of-type{
  border-top-left-radius: 0px;
}

.settings-tab-area:last-of-type{
  border-top-right-radius: 0px;
}


/* ============================================ */

#bible-submit{
  font-size: 0.6em;
  border-radius: 5px;
  border: none;
  padding: 0px 10px;
}

.input-group{
  flex-grow: 1;
  width: 100%;
  flex-grow: 1;
}

.search-group{
  flex-grow: 3;
  flex-basis: auto;
  width: 100%;
}

.input{
  border-radius: 5px;
  height: 100%;
  width: 100%;
  border: none;
  padding: 0px 10px;
  flex-grow: 1;
}

#bible-input{
  height: 100%;
  width: 100%;
  border: none;
  padding: 0px 10px;
}

#song-input, #bible-input{
  min-width: 50%;
}

#history{
  font-size: 0.6em;
  border-radius: 5px;
  padding: 5px;
}

.song p, .bible-container p{
  margin: 5px 0px;
  border-radius: 5px;
  padding: 2px;
}



.bible-verse, .song-verse{
  height: 10vh;
  border-radius: 5px;
  margin-right: 5px;
}

.song-chorus{
  border-radius: 5px;
  margin-right: 5px;
}


/* Styling for the scroll bar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  /* background-color: #333; */
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  /* background-color: #666; */
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  /* background-color: #888; */
}

.settings{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}


.settings span{
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.settings span:hover {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}


.color-picker{
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.slidecontainer {
  width: 100%;
  margin: 10px 0px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.2s;
}

.slider::-webkit-slider-thumb:hover {
}

#suggestions {
  position: absolute;
  z-index: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: none;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  font-size: 0.6em;
}

#suggestions li {
  padding: 10px;
  cursor: pointer;
}

#suggestions li:hover {
}

.selected{
}

.verse{
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.chorus{
  padding: 10px;
  border-radius: 5px;
}

.font-settings {
  cursor: pointer;
  font-weight: normal;
  padding: 5px;
  font-size: 1.5em;
  border-radius: 5px;
}

.font-settings #italic{
  font-style: italic;
}

.display-btn-group{
  width: 100%;
  display: flex;
}

#sendButton{
  margin-right: 5px;
}

#copyHistoryButton{
  width: 30%;
}

#toggle-display{
  margin-right: 0px;
  width: 100%;
}

.btn-file-upload{
  border: 1px solid #ccc;
  display: inline-block;
  padding: 5px 7px;
  cursor: pointer;
  white-space: nowrap;
}

/* toggle button */
.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.toggle-input {
    display: none;
    pointer-events:none;
}

.toggle-label {
    width: 60px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: background-color 0.3s;
    pointer-events:none;
}

.toggle-ball {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle-input:checked + .toggle-label .toggle-ball {
    transform: translateX(30px);
}











































.radio {
  display: none;
}

.toggle-btn {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 2px;
  transition: background-color 0.3s;
  background-color: #aaa;
}

.toggle-circle {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: white;
  border-radius: 50%;
  transition: transform 0.3s; */
}

.radio:checked + .toggle-btn .toggle-circle {
    /* transform: translateX(10px); */
}

.radio:checked + .toggle-btn{
  background-color: #222;
  color: white;
  border-color: #007bff;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  padding: 0px;
}
