/* :root {
    --grid-unit: 1rem;
    --border-radius-base: 0.5rem;
  } */

  [data-theme="acri"] {
    --color-bg: #111111;
    --color-mid-bg: #191919;
    --chorus-bg: #262a50;
    --chorus-fg: #ffffff;
    --danger-btn-bg: #6e1728;
    --danger-btn-fg: #ffffff;
    --primary-btn-bg: #1b225c;
    --primary-btn-fg: #ffffff;
    --warning-btn-bg: #964250;
    --warning-btn-fg: #ffffff;;
    --highlighted-bg-color: #333366;
    --selected-bg-color: #523366;
    --selected-fg-color: #ffca85;
    --slide-bg: #191919;
    --slide-fg: #2e2e2e;
    --hover-bg-color: #585858;
    --hover-fg-color: #ffffff;
    --color-fg: #ffffff;
}

[data-theme="dark"] {
    --color-bg: #222222;
    --color-mid-bg: #343434;
    --chorus-bg: #272233;
    --chorus-fg: #ffffff;
    --danger-btn-bg: #181818;
    --danger-btn-fg: #ffffff;
    --primary-btn-bg: #191919;
    --primary-btn-fg: #ffffff;
    --warning-btn-bg: #555555;
    --warning-btn-fg: #ffffff;
    --highlighted-bg-color: #02020a;
    --selected-bg-color: #111111;
    --selected-fg-color: #ffffff;
    --slide-bg: #c9c9c9;
    --slide-fg: #636363;
    --hover-bg-color: #a1a1a1;
    --hover-fg-color: #ffffff;
    --color-fg: #ffffff;
}

[data-theme="grey"] {
    --color-bg: #343434;
    --color-mid-bg: #222222;
    --chorus-bg: #272233;
    --chorus-fg: #ffffff;
    --danger-btn-bg: #181818;
    --danger-btn-fg: #ffffff;
    --primary-btn-bg: #191919;
    --primary-btn-fg: #ffffff;
    --warning-btn-bg: #555555;
    --warning-btn-fg: #ffffff;
    --highlighted-bg-color: #02020a;
    --selected-bg-color: #4d375e;
    --selected-fg-color: #ffffff;
    --slide-bg: #c9c9c9;
    --slide-fg: #636363;
    --hover-bg-color: #8b5660;
    --hover-fg-color: #fffefe;
    --color-fg: #ffffff;
}

[data-theme="light"] {
    --color-bg: #dddddd;
    --color-mid-bg: #bbbbbb;
    --chorus-bg: #afd2ff;
    --chorus-fg: #ffffff;
    --danger-btn-bg: #277ecf;
    --danger-btn-fg: #ffffff;
    --primary-btn-bg: #5195d4;
    --primary-btn-fg: #ffffff;
    --warning-btn-bg: #555555;
    --warning-btn-fg: #ffffff;
    --highlighted-bg-color: #5195d4;
    --selected-bg-color: #4d375e;
    --selected-fg-color: #ffffff;
    --slide-bg: #c9c9c9;
    --slide-fg: #636363;
    --hover-bg-color: #539ee4;
    --hover-fg-color: #000000;
    --color-fg: #111111;
}

[data-theme="rachni"] {
    --color-bg: #343434;
    --color-mid-bg: #222222;
    --chorus-bg: #4e3037;
    --chorus-fg: #ffffff;
    --danger-btn-bg: #68404a;
    --danger-btn-fg: #ffffff;
    --primary-btn-bg: #28c8e4;
    --primary-btn-fg: #ffffff;
    --warning-btn-bg: #15b2da;
    --warning-btn-fg: #ffffff;
    --highlighted-bg-color: #02020a;
    --selected-bg-color: #28c8e4;
    --selected-fg-color: #ffffff;
    --slide-bg: #c9c9c9;
    --slide-fg: #636363;
    --hover-bg-color: #945a7a;
    --hover-fg-color: #fffefe;
    --color-fg: #ffffff;
}

[data-theme="system"] {
    --color-bg: #fafafa;
    --color-mid-bg: #dbdbdb;
    --chorus-bg: #afd2ff;
    --chorus-fg: #ffffff;
    --danger-btn-bg: #74b2ec;
    --danger-btn-fg: #222222;
    --primary-btn-bg: #74b2ec;;
    --primary-btn-fg: #ffffff;
    --warning-btn-bg: #76bdff;;
    --warning-btn-fg: #222222;
    --highlighted-bg-color: #a5cdf3;
    --selected-bg-color: #4d375e;
    --selected-fg-color: #ffffff;
    --slide-bg: #c9c9c9;
    --slide-fg: #636363;
    --hover-bg-color: #8dc8ff;
    --hover-fg-color: #000000;
    --color-fg: #111111;
}

[data-theme="default"] {
    --color-bg: #333642;
    --color-mid-bg: #26272e;
    --chorus-bg: #272233;
    --chorus-fg: #ffb5b5;
    --danger-btn-bg: #0f4bbd;
    --danger-btn-fg: #ffffff;
    --primary-btn-bg: #0f4bbd;
    --primary-btn-fg: #ffdfdf;
    --warning-btn-bg: #2561d1;
    --warning-btn-fg: #ffdfdf;
    --highlighted-bg-color: #2c2c50;
    --selected-bg-color: #523366;
    --selected-fg-color: #ffca85;
    --slide-bg: #4e87d1;
    --slide-fg: #639ace;
    --hover-bg-color: #444444;
    --hover-fg-color: #fffffff;
    --color-fg: #ffffff;
}

--transparent-color: rgba(0,0,0,0);


body, .main-bg {
    background-color: var(--color-bg);
    color: var(--color-fg);
}


.mid-bg {
    background-color: var(--color-mid-bg);
    color: var(--color-fg);
}

.color-fg {
    color: var(--color-fg);
}

div, .selected-setting-tab, .settings-tab-button.selected-setting-tab{
    background-color: var(--color-bg);
    color: var(--color-fg);
}

.settings-tab-button.selected-setting-tab:before{
  box-shadow: 5px 0px 0 0 var(--color-bg);
}

.settings-tab-button.selected-setting-tab:after{
  box-shadow: -5px 0px 0 0 var(--color-bg);
}



#song-input, #bible-input, .input, select, textarea, button, ::-webkit-scrollbar-track,
p, .tab-button, .song p, .color-picker,  .settings, .settings-icons, .bible-container p, .btn{
    background-color: var(--color-mid-bg);
    color: var(--color-fg);
}

.icons{
    fill: var(--color-fg);
}

.slider::-webkit-slider-thumb:hover, ::-webkit-scrollbar-thumb:hover,
.btn-file-upload:hover, #suggestions li:hover, button:hover,
.slider:hover, #song-input:hover, .input:hover, #bible-input:hover, button:hover,
p:hover, .tab-button:hover, .song p:hover, .color-picker:hover,
.bible-container p:hover, .btn:hover{
    background-color: var(--hover-bg-color);
    color: var(--hover-fg-color);
}

.slider::-webkit-slider-thumb:active, ::-webkit-scrollbar-thumb:active,
.btn-file-upload:active, #suggestions li:active, button:active,
.slider:active, #song-input:active, .input:active, #bible-input:active,
p:active, .tab-button:active, .song p:active, .color-picker:active,
.bible-container p:active, .btn:active{
    color: var(--selected-fg-color);
    background-color: var(--selected-bg-color);
}

.toggle-input:checked + .toggle-label {
    background-color: var(--selected-bg-color);
}

.activated, .selected, .selected-tab, .tab-area, .container{
    color: var(--selected-fg-color) !important;
    background-color: var(--selected-bg-color) !important;
}

.chorus{
    background-color: var(--chorus-bg);
    color: var(--chorus-fg);
}

.slider, .slider::-webkit-slider-thumb, ::-webkit-scrollbar-thumb{
    background-color: var(--slide-bg);
    color: var(--slide-fg);
}

.danger, .toggle-label:hover{
    background-color: var(--danger-btn-bg);
    color: var(--danger-btn-fg);
}

.toggle-label:active{
    background-color: var(--danger-btn-fg);
    color: var(--danger-btn-bg);
}

.primary{
    background-color: var(--primary-btn-bg);
    color: var(--primary-btn-fg);
}

.warning, .toggle-label{
    background-color: var(--warning-btn-bg);
    color: var(--warning-btn-fg);
}

input[type="file"] {
    display: none;
}

.tab-button.selected-tab:before,
.tab-button.selected-tab:after{
  background-color: var(--color-bg)
}

.tab-button.selected-tab:before {
  left: -10px;
  border-top-right-radius: 50%;
  box-shadow: 5px -5px 0 0 var(--selected-bg-color);
}

.tab-button.selected-tab:after {
  right: -10px;
  border-top-left-radius: 50%;
  box-shadow: -5px -5px 0 0 var(--selected-bg-color);
}
